.sidebar {
    width: 23%;
    /* Your specification */
    height: 100vh;
    /* Full height */
    background-color: #77afe7;
    /* Adjust to match your color scheme */
}

.sidebar .nav-link {
    color: #040608;
    /* Adjust to match your color scheme */
    margin: 10px 0;
}

.sidebar .nav-link:hover {
    background-color: #777676;
    /* Hover effect */
}

.profile-image {
    width: 80px;
    /* Adjust based on your image */
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.profile-image img {
    width: 100%;
    height: auto;
}

.social-icons {
    display: block;
    padding: 30px 40px;
    li {
        display: inline-block;
        margin-right: 20px;
    }
    a {
        font-size: 18px;
        color: #fff;
        &:hover {
            color: darken(#5f6d7e, 25%);
        }
    }
}

.sidebar-menu {
    float: left;
    width: 23%;
    height: 100%;
    position: fixed;
    background-color: #89b1e0;
    color: white;
    overflow-y: hidden;
}

@media screen and (max-width: 1290px) {
    .sidebar-menu {
        overflow-y: scroll;
        width: 30%;
    }
}

.top-section {
    padding: 40px;
}


/* .top-section {
    @include media(max-width $tablet) {
        padding-bottom: 0;
    }
} */

.main-navigation {
    margin: 30px 0;
    li {
        display: block;
        a {
            padding: 15px 40px;
            display: block;
            color: $white;
            font-size: 14px;
            i {
                margin-right: 15px;
                font-size: 24px;
            }
            &:hover {
                background: darken($dark-bg, 2%);
            }
            &.active {
                background: darken($dark-bg, 10%);
                &:hover {
                    background: darken($dark-bg, 10%);
                }
            }
        }
    }
}